<!DOCTYPE html>
<html>
  <head>
    <title>Custom Webpage Design</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body onload='updateWebStyle("<%= current_screen_style.try(:title) %>", "<%= current_screen_style.try(:bg_color) %>", "<%= current_screen_style.try(:font_style) %>");'>

  <%= yield %>

  </body>
</html>
